/build/*
!/build/.gitkeep
/data/*
!/data/cache/.gitkeep
!/data/logs/.gitkeep
!/data/metrics/.gitkeep
.env
.idea/
.vscode/
*.exe
*.test
*.out
vendor/
.history/
frontend/node_modules/
frontend/dist/
node_modules
packages/shared-ui/dist
packages/web/dist
*.log
*.pyc
server/data/
*.backup
pnpm-lock.yaml
package-lock.json
web/pnpm-lock.yaml
web/package-lock.json

.history
logs/debug.log.old
postcss.config.cjs
dist/assets/
